<div class="loading d-flex" ng-show="isLoading">
    <div class="spinner-border text-warning m-auto" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Yükleniyor...</span>
    </div>
</div>



<div ng-show="!isLoading">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group mt-4">
                    <h5 class="list-group-item list-group-item text-light bg-secondary">Yazılarım</h5>

                    <a href="#" class="list-group-item list-group-item-action list-group-item-light bg-light text-secondary" 
                       ng-repeat="note in notes" ng-click="showNote($event, note)" ng-class="noteActiveClass(note.Id)">
                        {{note.Title}}
                    </a>

                </div>
            </div>
            <div class="col-md-10">
                <div class="card mt-4">
                    <div class="card-body">
                        <div class="form-group">
                            <input ng-model="activeNote.Title" type="text" class="form-control" placeholder="Başlık"/>
                        </div>
                        <div class="form-group">
                            <textarea ng-model="activeNote.Content" type="text" class="form-control" rows="10" placeholder="Bir şeyler yazın.."></textarea>              
                        </div>
                        <button type="button" class="btn btn-xs btn-secondary" ng-click="saveNote($event)">Kaydet</button>
                        <button type="button" class="btn btn-xs btn-danger" ng-click="deleteNote($event)">Sil</button>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

</div>